@page "/auth/register"
@rendermode InteractiveServer
@inject ILocalStorageJwtService LocalStorageJwtService
@inject NavigationManager NavigationManager
@inject ApiClient ApiClient
@inject IPasswordPolicyService PasswordPolicy

<PageTitle>Registreren</PageTitle>


<div class="registration-main-box-holder">
    <div class="registration-main-box">
        <h3 class="my-4">Registreren</h3>

        <div class="form-group">
            <input type="text" class="form-control" value="@Username"
                   @oninput=OnUsernameChange placeholder="Gebruikersnaam" />
        </div>
        <div class="form-group">
            <input type="email" class="form-control" value="@Email"
                   @oninput=OnEmailChange placeholder="Email" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" value="@Password"
                   @oninput=OnPasswordChange placeholder="Wachtwoord" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" value="@PasswordConfirmation"
                   @oninput=OnPasswordConfirmationChange placeholder="Bevestig Wachtwoord" />
        </div>

        <p class="validation-message">@validationMessage</p>
        <button class="submit-button" type="submit" @onclick=Submit disabled="@disabedForm">
            Aanmelden
        </button>
        <p><a href="/auth/login">Ik heb al een account</a></p>
    </div>
</div>


@code {

    // Form fields.
    public string Email = "";
    public string Username = "";
    public string Password = "";
    public string PasswordConfirmation = "";

    // Validation.
    public string validationMessage = "";
    public bool disabedForm => IsFormValid() ? false : true;

    public bool IsFormValid()
    {
        if (string.IsNullOrWhiteSpace(this.Username))
        {
            this.validationMessage = "Gebruikersnaam is niet ingevuld";
            return false;
        }

        if (!this.EmailInCorrectFormat(this.Email))
        {
            this.validationMessage = "Email is niet valide";
            return false;
        }

        if (this.Password != this.PasswordConfirmation)
        {
            this.validationMessage = "Wachtwoorden zijn niet hetzelfde";
            return false;
        }

        if (!PasswordPolicy.IsPasswordValid(this.Password, out this.validationMessage))
            return false;
        
        return true;
    }

    private async Task Submit()
    {
        // If it's not valid, don't even try.
        if (!this.IsFormValid())
            return;

        // Send the registration request.
        var resp = await ApiClient.AuthService.Register(new RegistrationDTO
        {
            Email = this.Email,
            Username = this.Username,
            Password = this.Password
        });

        // If something went wrong with sending the request itself.
        if (resp == null)
        {
            this.validationMessage = "Kon geen verbinding maken met de server...";
            return;
        }

        // If the account couldn't be registered.
        if (!resp.Succeeded)
        {
            this.validationMessage = resp.Message!;
            return;
        }

        // Set the token, and go to the homepage.
        await LocalStorageJwtService.Set(resp.Message!);
        NavigationManager.NavigateTo("/");
    }

    #region Validation

    private void OnUsernameChange(ChangeEventArgs e)
    {
        this.Username = e.Value!.ToString() ?? "";
        StateHasChanged();
        IsFormValid();
    }

    private void OnEmailChange(ChangeEventArgs e)
    {
        this.Email = e.Value!.ToString() ?? "";
        StateHasChanged();
        IsFormValid();
    }

    private void OnPasswordChange(ChangeEventArgs e)
    {
        this.Password = e.Value!.ToString() ?? "";
        StateHasChanged();
        IsFormValid();
    }

    private void OnPasswordConfirmationChange(ChangeEventArgs e)
    {
        this.PasswordConfirmation = e.Value!.ToString() ?? "";
        StateHasChanged();
        IsFormValid();
    }

    public bool EmailInCorrectFormat(string email)
    {
        var pattern = @"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";
        return Regex.IsMatch(email, pattern);
    }

    #endregion 
}